<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridge.Jolt Demo Application</title>

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="bridge/Bridge.Jolt.css">

    <script type="text/javascript" src="@Url.Content("~/bridge/bridge.js")" defer="defer" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/bridge/bridge.console.js")" defer="defer" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/bridge/bridge.meta.js")" defer="defer" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/bridge/Bridge.Jolt.js")" defer="defer" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/bridge/Bridge.Demo.js")" defer="defer" asp-append-version="true"></script>

</head>
<body>
    <div id="Demo-Root">
        <!-- Dynamic Single-Page-Application contents goes in here. -->
    </div>
</body>
</html>
